configstore
filezilla
fish
github-copilot
gtk-2.0
jgit
neofetch
nvim-back
qBittorrent
raycast
skhd-bak
spicetify
wireshark
ytmdl
yabai-bak
QtProject
envman
fontforge
nvim.bak
nvim2.bak
rstudio
yazi
wezterm
htop
zed/.*
.DS_Store
zed/embeddings
zed/prompts
zed/keymap_backup.json
zed/settings_backup.json
tmux/plugins/*
!tmux/plugins/tmux-session/
!tmux/plugins/tmux-session/**
tmux/plugins/tmux-session/.git/
