(
    selected_tab: Some("#87afaf"),
    command_fg: Some("#bcbcbc"),
    selection_bg: Some("#303030"),
    selection_fg: Some("#bcbcbc"),
    cmdbar_bg: Some("#1c1c1c"),
    cmdbar_extra_lines_bg: Some("#262626"),
    disabled_fg: Some("#767676"),

    diff_line_add: Some("#87d787"),
    diff_line_delete: Some("#d75f87"),
    diff_file_added: Some("#87d787"),
    diff_file_removed: Some("#d75f87"),
    diff_file_moved: Some("#d787d7"),
    diff_file_modified: Some("#d7af87"),

    commit_hash: Some("#5fafd7"),
    commit_time: Some("#87d787"),
    commit_author: Some("#d787d7"),

    danger_fg: Some("#af5f5f"),
    push_gauge_bg: Some("#262626"),
    push_gauge_fg: Some("#bcbcbc"),

    tag_fg: Some("#d787d7"),
    branch_fg: Some("#d7af87"),
    block_title_focused: Some("#bcbcbc"),
)
